In [122]:
print("Hello")

Hello

In [123]:
# Creating a dictionary
my_dict = {
    'name': 'syc',
    'age': 18,
    'city': 'aus'
}
print ()

In [124]:
# Accessing values
print(my_dict['name'])  
print(my_dict['age'])

syc
18

In [125]:
# Modifying values
my_dict['age'] = 18
print(my_dict['age'])

18

In [126]:
# Adding new key-value pair
my_dict['million'] = 'billion'
print(my_dict)

{'name': 'syc', 'age': 18, 'city': 'aus', 'million': 'billion'}

In [127]:
# Using dictionary methods
print(my_dict.keys())    
print(my_dict.values())
print(my_dict.items())

dict_keys(['name', 'age', 'city', 'million'])
dict_values(['syc', 18, 'aus', 'billion'])
dict_items([('name', 'syc'), ('age', 18), ('city', 'aus'), ('million', 'billion')])

In [1]:
personal_bio = {"first_name": " ibrahim"
                "last_name" "shah"
                "address" "karaci, multan"
                }
print(type(personal_bio))

<class 'dict'>

In [129]:
bio_list = {'personal_bio': 'some_value'}
for key, value in bio_list.items():
    print(f"key: {key}, value: {value}")

key: personal_bio, value: some_value

In [130]:
bio_list = {'personal_bio': ''}
customer = 'apple,banana'

In [131]:
bio_list = {'personal_bio': ''}
customer = ['apple', 'banana']

In [132]:
cities = ['lahore', 'karachi']

for city in cities:
    print(city)
    print(city)

lahore
lahore
karachi
karachi

In [133]:
costumer_dic = personal_bio
list= (personal_bio)
list = "apple , banana , grapes,  hat"

In [134]:
first_name = 'ibrahim'
last_name = 'syc'
address = 'aus'
print("first_name, last_name,address")

first_name, last_name,address

In [135]:
customer_dict = {
    'customer1': {'email': 'customer1@example.com'},
    'customer2': {'email': 'customer2@example.com'},
    'customer3': {'email': 'customer3@example.com'}
}

for customer, details in customer_dict.items():
    email = details['email']
    print(f"Customer email: {email}")

Customer email: customer1@example.com
Customer email: customer2@example.com
Customer email: customer3@example.com

In [136]:
customers = {
    'customer1': {
        'name': 'ibrahim',
        'age': 18,
        'email': 'syc@example.com',
        'address': '123 Main St, Anytown, aus'
    },
    'customer2': {
        'name': 'ibrahim',
        'age': 18,
        'email': 'syc@example.com',
        'address': '456 Elm St, Newtown, aus'
    },
    'customer3': {
        'name': 'ibrahim',
        'age': 18,
        'email': 'syc@example.com',
        'address': '789 Oak Ave, Othertown, aus'
    },
    'customer4': {
        'name': 'ibrahm',
        'age': 18,
        'email': 'syc@example.com',
        'address': '321 Cedar rd, multan, aus'
    }
}

In [137]:
print(customers['customer1']['name'])   
print(customers['customer2']['email'])

ibrahim
syc@example.com

In [138]:
# Assuming customers is your dictionary
customers = {
    'ibrahim': {'address': '123 Main St', 'age': 18},
    'syc': {'address': '456 Elm St', 'age': 18}
}

for key, value in customers.items():
    print(f'key is: {key}')
    print(f'value is: {value}')
    print(f'address of {key} is {value["address"]}')  
    print("-----")

print("****** Loop ends ******")

key is: ibrahim
value is: {'address': '123 Main St', 'age': 18}
address of ibrahim is 123 Main St
-----
key is: syc
value is: {'address': '456 Elm St', 'age': 18}
address of syc is 456 Elm St
-----
****** Loop ends ******

In [139]:
saylani = {"python": {"timings" : "mwf",
                        "instructer": "ayan"},
                "data engneering": { "timing" : "tts",
                                 "instructer": "ibrahim"}}

In [140]:
# print()
# type()
# id()
# input ---> function (operation) ---> diserd result (based on operation)

In [141]:
def print_func():
    print("saylani")

In [142]:
print_func()

saylani

In [143]:
def add(a,b):
    total = a+b
    print(total)
add(4,9)

13

In [144]:
add(7,9)

16

In [145]:
def temp_kelvin(celcius, default_kelvin_value = 273.15):
    print(celcius + default_kelvin_value)

In [146]:
temp_kelvin(88)

361.15

In [147]:
def subtract(a,b):
    print(a-b)
subtract(2,6)

-4

In [148]:
def greetings(first_name, last_name, greetings="welcome"):
    print(f'hey, {first_name}{last_name},{greetings}')

In [149]:
greetings("Ibrahim","shah")

hey, Ibrahimshah,welcome

In [150]:
temp_kelvin(78,273)

351

In [151]:
str1 = "syco"
print(len(str1))

4

In [152]:
str = "honeybee"
ch = str [2] 
print(ch)

n

In [153]:
str = "ibrahim shah"
print(str[1:4])

bra

In [154]:
str = "sycodevil"
print(str[5:len(str)])

evil

In [155]:
str = "apple"
print(str[-4:-1])

ppl

In [159]:
str = " i am studing from saylani"
print(str.endswith("say"))

False

In [2]:
str = "i am studing from saylani"
print(str.capitalize())

I am studing from saylani

In [3]:
str = "i am studing from saylani"
str = str . capitalize()
print(str)

I am studing from saylani

In [4]:
str = "i am studing from saylani"
print(str.replace("a","o"))

i om studing from soyloni

In [6]:
str = "i am studing from saylani"
print(str.find("from"))

13

In [7]:
str = "i am studing from saylani"
print(str.count("from"))

1

In [1]:
name = input("enter your name : ")
print("length of your name is",len(name))

length of your name is 10

In [10]:
str = "hi, $Iam the $ symbol $99.99"
print(str.count("$"))

3

In [12]:
light = (input("enter your colour: "))
if light == ("red"):
    print("stop")
elif light == ("yellow"):
    print("wait")
elif light == ("green"):
    print("go")
else:
    print("error")

error

In [34]:
age = int(input("enter your age: "))
if (age <= 20):
    print("cannot vote")
elif (age == 30):
    print("can vote")
elif (age >= 70):
    print("cannot vote")
else:
    print("error")

cannot vote

In [21]:
grade = int(input("enter your grades: "))
if grade >= 90:
    print("A")
elif grade < 90 and grade >=80:
    print("B")
elif grade <80 and grade >= 70:
    print("C")
elif grade <= 70 and grade >=60:
    print("D")
else:
    print("f")
print("grade of student is ",grade)

A
grade of student is  90

In [27]:
age = int(input("enter your age: "))
if age >= 18:
    if age>= 80:
        print("cannot drive")
    else:
        print("can drive")
else:
    print("cannot drive")

can drive

In [6]:
marks = [95.1,90.1,85.1,80.1,75.1]
print(len(marks))
print(marks[0])
print(marks[3])

5
95.1
80.1

In [9]:
student = ["Ibrahim",95.1,18,"karachi"]
print(student)

['Ibrahim', 95.1, 18, 'karachi']

In [18]:
student = ["Ibrahim",95.1,18,"karachi"]
print(student[3])
student[0] = "miharbi"
print(student)

karachi
['miharbi', 95.1, 18, 'karachi']

In [27]:
marks = [95,90,85,80,75]
print(marks[-4: -3])

[90]

In [1]:
marks = [95,90,85,80,75]
print(marks[0:3])

[95, 90, 85]

In [31]:
list = [2,3,1]
list.append(5)
print(list)

[2, 3, 1, 5]

In [2]:
list = [7,6,8,9]
list.sort()
print(list)

[6, 7, 8, 9]

In [6]:
list = [8,9,14]
list. sort (reverse = True)
print(list)

[14, 9, 8]

In [2]:
list = [7,6,9,3,5]
print(list.append(4))
print(list.sort())
print(list)

None
None
[3, 4, 5, 6, 7, 9]

In [3]:
list = [7,6,9,3,5]
print(list.append(4))
print(list.sort(reverse = True))
print(list)

None
None
[9, 7, 6, 5, 4, 3]

In [7]:
list = ["banana","litchi","mango"]
list.sort()
print(list)

['banana', 'litchi', 'mango']

In [8]:
list= ["a","h","b","d","c","e"]
list.sort(reverse=True)
print(list)

['h', 'e', 'd', 'c', 'b', 'a']

In [10]:
list = [3,2,1]
list.insert(3,0)
print(list)

[3, 2, 1, 0]

In [12]:
list = [4,3,2,1]
list.remove(4)
print(list)

[3, 2, 1]

In [13]:
list = [1,7,8]
list.pop(2)
print(list)

[1, 7]

In [13]:
tuple = (2,1,3,1)
print(tuple[0])
print(tuple[1])
print(type(tuple))

2
1
<class 'tuple'>

In [12]:
tup = (1,)
print(tup)
print(type(tup))

(1,)
<class 'tuple'>

In [14]:
tup = (1,3,2,4)
print(tup[1:3])

(3, 2)

In [18]:
tup = (1,2,3,4)
print(tup.index(3))

2

In [19]:
tup = (1,2,3,2,4,2)
print(tup.count(2))

3

In [22]:
movie = []
mov1 = input("enter your first mov: ")
mov2 = input("enter your sec mov: ")
mov3 = input("enter your thr mov: ")
movie.append(mov1)
movie.append(mov2)
movie.append(mov3)
print(movie)

['blue', 'red', 'green']

In [23]:
movie = []
movie.append(input("enter your first mov: "))
movie.append(input("enter your sec mov: "))
movie.append(input("enter your thr mov: "))
print(movie)

['red', 'blue', 'green']

In [24]:
grade = ["c","d","e"]
grade.sort()
print(grade)

['c', 'd', 'e']

In [3]:
INFO = {
    "name" : "IBRAHIM",
    "topic":  ("dict","set"),
    "age"  :  18,
    "sub"  : ["python"],
}
print(type(INFO))
print(INFO)

<class 'dict'>
{'name': 'IBRAHIM', 'topic': ('dict', 'set'), 'age': 18, 'sub': ['python']}

In [11]:
dict = {
    "name" : "IBRAHIM",
    "topic":  ("dict","set"),
    "age"  :  18,
    "sub"  : ["python"],
}
null_dict = {}
null_dict ["name"] = "FRIDAY"
dict ["name"] = "syed"
dict ["surname"] = "ibrahim"
print(dict)
print(null_dict)

{'name': 'syed', 'topic': ('dict', 'set'), 'age': 18, 'sub': ['python'], 'surname': 'ibrahim'}
{'name': 'FRIDAY'}

In [14]:
student = {
    "name" : "ibm",
    "age"  :  18,
    "sub"  :  {
        "phy" : 90,
        "bio" : 87,
        "chem" : 86
    }
}
print(student)
print(student["sub"]["chem"])

{'name': 'ibm', 'age': 18, 'sub': {'phy': 90, 'bio': 87, 'chem': 86}}
86

In [24]:
dict = {
    "name" : "Ibm",
    "age" : 18,
    "songs" : {
        "yyhs" : "blue eyes",
        "shubh" : "you and me",
        "arijit" : "ve kamleya"    
    }
}
print(dict.keys())
print(len(list(dict.keys())))

dict_keys(['name', 'age', 'songs'])
3

In [26]:
dict = {
    "name" : "Ibm",
    "age" : 18,
    "songs" : {
        "yyhs" : "blue eyes",
        "shubh" : "you and me",
        "arijit" : "ve kamleya"    
    }
}
print(dict.keys())
print(list(dict.values()))

dict_keys(['name', 'age', 'songs'])
['Ibm', 18, {'yyhs': 'blue eyes', 'shubh': 'you and me', 'arijit': 've kamleya'}]

In [30]:
dict = {
    "name" : "Ibm",
    "age" : 18,
    "songs" : {
        "yyhs" : "blue eyes",
        "shubh" : "you and me",
        "arijit" : "ve kamleya"    
    }
}
print(list(dict.items()))
pairs = list(dict.items())
print(pairs[1])

[('name', 'Ibm'), ('age', 18), ('songs', {'yyhs': 'blue eyes', 'shubh': 'you and me', 'arijit': 've kamleya'})]
('age', 18)

In [34]:
student = {
    "name" : "ibm",
    "age"  :  18,
    "sub"  :  {
        "phy" : 90,
        "bio" : 87,
        "chem" : 86
    }
}
# print(student["name2"])
print(student.get("name2"))

None

In [37]:
student = {
    "name" : "ibm",
    "age"  :  18,
    "sub"  :  {
        "phy" : 90,
        "bio" : 87,
        "chem" : 86
    }
}
new_dict = {"city" : "karachi"}
student.update(new_dict)
print(student)

{'name': 'ibm', 'age': 18, 'sub': {'phy': 90, 'bio': 87, 'chem': 86}, 'city': 'karachi'}

In [41]:
collection = {1,2,3,4,4,4,4,"world","world"}
print(type(collection))
print(len(collection))

<class 'set'>
5

In [43]:
collection = set()
print(type(collection))

<class 'set'>

In [53]:
collection = set()
collection.add(1)
collection.add(2)
collection.add(2)
collection.remove(1)
collection.add((1,2,3))
collection.clear()
print(len(collection))

0

In [55]:
collection = {"hello","ibrahim","world"}
print(collection.pop())
print(collection.pop())

world
ibrahim

In [56]:
set1 = {1,2,3}
set2 = {4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [57]:
set1 = {1,2,2}
set2 = {1,3,2}
print(set1.intersection(set2))

{1, 2}

In [70]:
count = 1
while count<=10 :
    print("hello")
    count += 1


i = 1
while i <= 10:
    print("world")
    i += 1
i = 5
while i >=1:
    print(i)
    i -= 1
print("loop end")

5
4
3
2
1
loop end