In [1]:
print("Hello ibrahim")

Hello ibrahim

In [2]:

my_dict = {
    'name': 'syc',
    'age': 18,
    'city': 'aus'
}
print ()

In [3]:

print(my_dict['name'])  
print(my_dict['age'])

syc
18

In [4]:

my_dict['age'] = 18
print(my_dict['age'])

18

In [5]:

my_dict['million'] = 'billion'
print(my_dict)

{'name': 'syc', 'age': 18, 'city': 'aus', 'million': 'billion'}

In [6]:

print(my_dict.keys())    
print(my_dict.values())
print(my_dict.items())

dict_keys(['name', 'age', 'city', 'million'])
dict_values(['syc', 18, 'aus', 'billion'])
dict_items([('name', 'syc'), ('age', 18), ('city', 'aus'), ('million', 'billion')])

In [7]:
personal_bio = {"first_name": " ibrahim"
                "last_name" "shah"
                "address" "karaci, multan"
                }
print(type(personal_bio))

<class 'dict'>

In [8]:
bio_list = {'personal_bio': 'some_value'}
for key, value in bio_list.items():
    print(f"key: {key}, value: {value}")

key: personal_bio, value: some_value

In [9]:
bio_list = {'personal_bio': ''}
customer = 'apple,banana'

In [10]:
bio_list = {'personal_bio': ''}
customer = ['apple', 'banana']

In [11]:
cities = ['lahore', 'karachi']

for city in cities:
    print(city)
    print(city)

lahore
lahore
karachi
karachi

In [12]:
costumer_dic = personal_bio
list= (personal_bio)
list = "apple , banana , grapes,  hat"

In [13]:
first_name = ('ibrahim')
last_name = ('syc')
address = ('aus')
print("first_name, last_name,address")

first_name, last_name,address

In [14]:
customer_dict = {
    'customer1': {'email': 'customer1@example.com'},
    'customer2': {'email': 'customer2@example.com'},
    'customer3': {'email': 'customer3@example.com'}
}

for customer, details in customer_dict.items():
    email = details['email']
    print(f"Customer email: {email}")

Customer email: customer1@example.com
Customer email: customer2@example.com
Customer email: customer3@example.com

In [15]:
customers = {
    'customer1': {
        'name': 'ibrahim',
        'age': 18,
        'email': 'syc@example.com',
        'address': '123 Main St, Anytown, aus'
    },
    'customer2': {
        'name': 'ibrahim',
        'age': 18,
        'email': 'syc@example.com',
        'address': '456 Elm St, Newtown, aus'
    },
    'customer3': {
        'name': 'ibrahim',
        'age': 18,
        'email': 'syc@example.com',
        'address': '789 Oak Ave, Othertown, aus'
    },
    'customer4': {
        'name': 'ibrahm',
        'age': 18,
        'email': 'syc@example.com',
        'address': '321 Cedar rd, multan, aus'
    }
}

In [16]:
print(customers['customer1']['name'])   
print(customers['customer2']['email'])

ibrahim
syc@example.com

In [17]:

customers = {
    'ibrahim': {'address': '123 Main St', 'age': 18},
    'syc': {'address': '456 Elm St', 'age': 18}
}

for key, value in customers.items():
    print(f'key is: {key}')
    print(f'value is: {value}')
    print(f'address of {key} is {value["address"]}')  
    print("-----")

print("****** Loop ends ******")

key is: ibrahim
value is: {'address': '123 Main St', 'age': 18}
address of ibrahim is 123 Main St
-----
key is: syc
value is: {'address': '456 Elm St', 'age': 18}
address of syc is 456 Elm St
-----
****** Loop ends ******

In [18]:
saylani = {"python": {"timings" : "mwf",
                        "instructer": "ayan"},
                "data engneering": { "timing" : "tts",
                                 "instructer": "ibrahim"}}

In [19]:
# print()
# type()
# id()
# input ---> function (operation) ---> diserd result (based on operation)

In [20]:
def print_func():
    print("saylani")

In [21]:
print_func()

saylani

In [22]:
def add(a,b):
    total = a+b
    print(total)
add(4,9)

13

In [23]:
add(7,9)

16

In [24]:
def temp_kelvin(celcius, default_kelvin_value = 273.15):
    print(celcius + default_kelvin_value)

In [25]:
temp_kelvin(88)

361.15

In [26]:
def subtract(a,b):
    print(a-b)
subtract(2,6)

-4

In [27]:
def greetings(first_name, last_name, greetings="welcome"):
    print(f'hey, {first_name}{last_name},{greetings}')

In [28]:
greetings("Ibrahim","shah")

hey, Ibrahimshah,welcome

In [29]:
temp_kelvin(78,273)

351

In [30]:
str1 = "syco"
print(len(str1))

4

In [31]:
str = "honeybee"
ch = str [2] 
print(ch)

n

In [32]:
str = "ibrahim shah"
print(str[1:4])

bra

In [33]:
str = "sycodevil"
print(str[5:len(str)])

evil

In [34]:
str = "apple"
print(str[-4:-1])

ppl

In [35]:
str = " i am studing from saylani"
print(str.endswith("say"))

False

In [36]:
str = "i am studing from saylani"
print(str.capitalize())

I am studing from saylani

In [37]:
str = "i am studing from saylani"
str = str . capitalize()
print(str)

I am studing from saylani

In [38]:
str = "i am studing from saylani"
print(str.replace("a","o"))

i om studing from soyloni

In [39]:
str = "i am studing from saylani"
print(str.find("from"))

13

In [40]:
str = "i am studing from saylani"
print(str.count("from"))

1

In [1]:
name = input("enter your name : ")
print("length of your name is",len(name))

length of your name is 0

In [ ]:
str = "hi, $Iam the $ symbol $99.99"
print(str.count("$"))

3

In [ ]:
light = (input("enter your colour: "))
if light == ("red"):
    print("stop")
elif light == ("yellow"):
    print("wait")
elif light == ("green"):
    print("go")
else:
    print("error")

error

In [ ]:
age = int(input("enter your age: "))
if (age <= 20):
    print("cannot vote")
elif (age == 30):
    print("can vote")
elif (age >= 70):
    print("cannot vote")
else:
    print("error")

cannot vote

In [ ]:
grade = int(input("enter your grades: "))
if grade >= 90:
    print("A")
elif grade < 90 and grade >=80:
    print("B")
elif grade <80 and grade >= 70:
    print("C")
elif grade <= 70 and grade >=60:
    print("D")
else:
    print("f")
print("grade of student is ",grade)

A
grade of student is  90

In [ ]:
age = int(input("enter your age: "))
if age >= 18:
    if age>= 80:
        print("cannot drive")
    else:
        print("can drive")
else:
    print("cannot drive")

can drive

In [ ]:
marks = [95.1,90.1,85.1,80.1,75.1]
print(len(marks))
print(marks[0])
print(marks[3])

5
95.1
80.1

In [ ]:
student = ["Ibrahim",95.1,18,"karachi"]
print(student)

['Ibrahim', 95.1, 18, 'karachi']

In [ ]:
student = ["Ibrahim",95.1,18,"karachi"]
print(student[3])
student[0] = "miharbi"
print(student)

karachi
['miharbi', 95.1, 18, 'karachi']

In [ ]:
marks = [95,90,85,80,75]
print(marks[-4: -3])

[90]

In [ ]:
marks = [95,90,85,80,75]
print(marks[0:3])

[95, 90, 85]

In [ ]:
list = [2,3,1]
list.append(5)
print(list)

[2, 3, 1, 5]

In [ ]:
list = [7,6,8,9]
list.sort()
print(list)

[6, 7, 8, 9]

In [ ]:
list = [8,9,14]
list. sort (reverse = True)
print(list)

[14, 9, 8]

In [ ]:
list = [7,6,9,3,5]
print(list.append(4))
print(list.sort())
print(list)

None
None
[3, 4, 5, 6, 7, 9]

In [ ]:
list = [7,6,9,3,5]
print(list.append(4))
print(list.sort(reverse = True))
print(list)

None
None
[9, 7, 6, 5, 4, 3]

In [ ]:
list = ["banana","litchi","mango"]
list.sort()
print(list)

['banana', 'litchi', 'mango']

In [ ]:
list= ["a","h","b","d","c","e"]
list.sort(reverse=True)
print(list)

['h', 'e', 'd', 'c', 'b', 'a']

In [ ]:
list = [3,2,1]
list.insert(3,0)
print(list)

[3, 2, 1, 0]

In [ ]:
list = [4,3,2,1]
list.remove(4)
print(list)

[3, 2, 1]

In [ ]:
list = [1,7,8]
list.pop(2)
print(list)

[1, 7]

In [ ]:
tuple = (2,1,3,1)
print(tuple[0])
print(tuple[1])
print(type(tuple))

2
1
<class 'tuple'>

In [ ]:
tup = (1,)
print(tup)
print(type(tup))

(1,)
<class 'tuple'>

In [ ]:
tup = (1,3,2,4)
print(tup[1:3])

(3, 2)

In [ ]:
tup = (1,2,3,4)
print(tup.index(3))

2

In [ ]:
tup = (1,2,3,2,4,2)
print(tup.count(2))

3

In [ ]:
movie = []
mov1 = input("enter your first mov: ")
mov2 = input("enter your sec mov: ")
mov3 = input("enter your thr mov: ")
movie.append(mov1)
movie.append(mov2)
movie.append(mov3)
print(movie)

['blue', 'red', 'green']

In [ ]:
movie = []
movie.append(input("enter your first mov: "))
movie.append(input("enter your sec mov: "))
movie.append(input("enter your thr mov: "))
print(movie)

['red', 'blue', 'green']

In [ ]:
grade = ["c","d","e"]
grade.sort()
print(grade)

['c', 'd', 'e']

In [ ]:
INFO = {
    "name" : "IBRAHIM",
    "topic":  ("dict","set"),
    "age"  :  18,
    "sub"  : ["python"],
}
print(type(INFO))
print(INFO)

<class 'dict'>
{'name': 'IBRAHIM', 'topic': ('dict', 'set'), 'age': 18, 'sub': ['python']}

In [ ]:
dict = {
    "name" : "IBRAHIM",
    "topic":  ("dict","set"),
    "age"  :  18,
    "sub"  : ["python"],
}
null_dict = {}
null_dict ["name"] = "FRIDAY"
dict ["name"] = "syed"
dict ["surname"] = "ibrahim"
print(dict)
print(null_dict)

{'name': 'syed', 'topic': ('dict', 'set'), 'age': 18, 'sub': ['python'], 'surname': 'ibrahim'}
{'name': 'FRIDAY'}

In [ ]:
student = {
    "name" : "ibm",
    "age"  :  18,
    "sub"  :  {
        "phy" : 90,
        "bio" : 87,
        "chem" : 86
    }
}
print(student)
print(student["sub"]["chem"])

{'name': 'ibm', 'age': 18, 'sub': {'phy': 90, 'bio': 87, 'chem': 86}}
86

In [ ]:
dict = {
    "name" : "Ibm",
    "age" : 18,
    "songs" : {
        "yyhs" : "blue eyes",
        "shubh" : "you and me",
        "arijit" : "ve kamleya"    
    }
}
print(dict.keys())
print(len(list(dict.keys())))

dict_keys(['name', 'age', 'songs'])
3

In [ ]:
dict = {
    "name" : "Ibm",
    "age" : 18,
    "songs" : {
        "yyhs" : "blue eyes",
        "shubh" : "you and me",
        "arijit" : "ve kamleya"    
    }
}
print(dict.keys())
print(list(dict.values()))

dict_keys(['name', 'age', 'songs'])
['Ibm', 18, {'yyhs': 'blue eyes', 'shubh': 'you and me', 'arijit': 've kamleya'}]

In [ ]:
dict = {
    "name" : "Ibm",
    "age" : 18,
    "songs" : {
        "yyhs" : "blue eyes",
        "shubh" : "you and me",
        "arijit" : "ve kamleya"    
    }
}
print(list(dict.items()))
pairs = list(dict.items())
print(pairs[1])

[('name', 'Ibm'), ('age', 18), ('songs', {'yyhs': 'blue eyes', 'shubh': 'you and me', 'arijit': 've kamleya'})]
('age', 18)

In [ ]:
student = {
    "name" : "ibm",
    "age"  :  18,
    "sub"  :  {
        "phy" : 90,
        "bio" : 87,
        "chem" : 86
    }
}
# print(student["name2"])
print(student.get("name2"))

None

In [ ]:
student = {
    "name" : "ibm",
    "age"  :  18,
    "sub"  :  {
        "phy" : 90,
        "bio" : 87,
        "chem" : 86
    }
}
new_dict = {"city" : "karachi"}
student.update(new_dict)
print(student)

{'name': 'ibm', 'age': 18, 'sub': {'phy': 90, 'bio': 87, 'chem': 86}, 'city': 'karachi'}

In [ ]:
collection = {1,2,3,4,4,4,4,"world","world"}
print(type(collection))
print(len(collection))

<class 'set'>
5

In [ ]:
collection = set()
print(type(collection))

<class 'set'>

In [ ]:
collection = set()
collection.add(1)
collection.add(2)
collection.add(2)
collection.remove(1)
collection.add((1,2,3))
collection.clear()
print(len(collection))

0

In [ ]:
collection = {"hello","ibrahim","world"}
print(collection.pop())
print(collection.pop())

world
ibrahim

In [ ]:
set1 = {1,2,3}
set2 = {4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
set1 = {1,2,2}
set2 = {1,3,2}
print(set1.intersection(set2))

{1, 2}

In [ ]:
count = 1
while count<=10 :
    print("hello")
    count += 1


i = 1
while i <= 1000:
    print("world")
    i += 1
i = 5
while i >=1:
    print(i)
    i -= 1
print("loop end")

In [ ]:
i = 100
while i >= 1:
    print(i)
    i -= 1

In [ ]:
n = 3
i = 1 
while i <= 10:
    print(3*i)
    i += 1

In [ ]:
nums = [1,4,9,16,25,36,49,64,81,100]
idx = 0
while idx < len (nums):
    print(nums[idx])
    idx+=1

1
4
9
16
25
36
49
64
81
100

In [ ]:
nums = [1,4,9,16,25,36,49,64,81,100]
x= 49
i= 0
while i <len(nums):
    if(nums[i] == x):
        print("found",i)
        break
    else:
        print("finding..")
    i += 1

finding..
finding..
finding..
finding..
finding..
finding..
found 6

In [ ]:
i = 1
while i <=5:
    print(i)
    if(i == 3):
        break
    i += 1

1
2
3

In [ ]:
i = 0
while i <= 10:
    if(i % 2 != 0):
        i += 1
        continue
    print(i)
    i += 1

0
2
4
6
8
10

In [ ]:
list = ["banana","apple","grapes"]
for el in list:
    print(el)

banana
apple
grapes

In [ ]:
tup = (1,3,2,4,5)
for val in tup:
    print(val)

1
3
2
4
5

In [ ]:
str ="ibrahim"
for chr in str:
    print(chr)

i
b
r
a
h
i
m

In [ ]:
str = "ibrahim"
for chr in str:
    if(chr == 'h'):
        print("h found")
        break
    print(chr)
print("end")

i
b
r
a
h found
end

In [ ]:
seq = range(5)
print(seq[0])
print(seq[1])
print(seq[2])
print(seq[3])
print(seq[4])

0
1
2
3
4

In [ ]:
eseq = range(5)

for i in seq:
    print(i)
    
    
for i in range(2,10,2):
    print(i)

2
4
6
8

In [ ]:
for i in range (5):
    pass
if i > 5:
    pass
print("some unuseful work")

some unuseful work

In [ ]:
def cal_sum(a,b):
    sum = a + b
    print(sum) 
cal_sum(5,10)

15

In [ ]:
def cal_sum(a,b):
    return a+ b
sum = cal_sum(5,8)
print(sum)

13

In [ ]:
def print_hello():
    print("hello")
output = print_hello()
print(output)

hello
None

In [ ]:
def cal_avg(a,b,c):
    sum = a + b + c
    avg = sum / 3
    print(avg)
    
cal_avg(1,7,3)

3.6666666666666665

In [ ]:
def calc_tax(sales_total,tax_rate=0.22):
    print(sales_total*tax_rate)
calc_tax(sales_total=1000,tax_rate = 0.11)

110.0

In [ ]:
def calc_tax(sales_total,tax_rate=0.22):
    tax =sales_total*tax_rate
    return tax
calc_tax(sales_total=1000,tax_rate = 0.11)

110.0

In [ ]:
def calc_tax(sales_total,tax_rate=0.22):
    tax =sales_total*tax_rate
    print(tax)
tax= calc_tax(sales_total=1000,tax_rate = 0.11)
print(tax)

110.0
None

In [ ]:
custumer = {
  0: {'first name': 'David',
    'last name': 'Elliott',
    'address': '4803 Wellesley St.',
    'city': 'LA'},
  1:  {'first name': 'Qasim',
    'last name': 'Hassan',
    'address': 'Near SMIT',
    'city': 'Karachi'},
  2:  {'first name': 'Hassan',
    'last name': 'Khan',
    'address': 'Johar town',
    'city': 'Lahore'}
}
def custumer_detail(custumer_id=int(input("Enter your id: ")),custumer_detail=input("enter the detail: ")):
    return custumer[custumer_id][custumer_detail]
custumer_detail()

'LA'

In [ ]:
def olampic_winner(winner_name,winner_score,**kwargs):
    print(f"winner name is {winner_name} & its score is {winner_score}")
    for key, value in kwargs.items():
        print(f"{key}-->{value}")
olampic_winner("IBRAHIM", 9 ,country ="australlia",sports ="cricket",year = 2024)

winner name is IBRAHIM. & its score is 9
country-->australlia
sports-->cricket
year-->2024

In [ ]:
global tax_rate
tax_rate = 0.02
def addition():
    a =3
    b= 4
    total = a + b
    tax_rate = total * tax_rate
    return total,tax_rate

In [ ]:
def calc_tax (total):
        total_sales = total*0.02
        return total_sales
def sales_calc  (tariq_store,gulshan_store,dha_store):
    total = gulshan_store + tariq_store + dha_store
    return total

In [ ]:
user_input = input("enter your country:")
clean_country = ['australlia','tokyo','calofonia']
for country in clean_country: 
    print(f"validation check for loop:{country}")
    if user_input == country:
        print(f"{user_input}is a clean city")
        break

validation check for loop:australlia
australliais a clean city

In [ ]:
clean_country = ['australlia','tokyo','calofonia']
while_cond = True
while while_cond:
    user_input = input("enter your country you want to check: ")
    for country in clean_country:
        print(f'{user_input}is in clean country list')
        while_cond = False

australliais in clean country list
australliais in clean country list
australliais in clean country list

In [ ]:
value = [3,4,6,]
boom = [x  -  2 for x in value]
print(boom)

[1, 2, 4]

In [ ]:
number = [1,2,3,4,5,]
sindh = [ x ** 2 for x in number]
print(sindh)

[1, 4, 9, 16, 25]

In [ ]:
list = [character for character in [1,2,3,]]
print(list)

[1, 2, 3]

In [ ]:
list = [i for i in range(11) if i % 2 == 0]
print (list)

[0, 2, 4, 6, 8, 10]

In [ ]:
matrix = [[j for j in range (3)] for i in range(3)]
print(matrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
list = []
for chr in 'geeks 4 geeks!':
    list.append(chr)
print(list)

['g', 'e', 'e', 'k', 's', ' ', '4', ' ', 'g', 'e', 'e', 'k', 's', '!']

In [ ]:
list = [chr for chr in 'geek 4 geeks!']
print(list)

['g', 'e', 'e', 'k', ' ', '4', ' ', 'g', 'e', 'e', 'k', 's', '!']

In [ ]:
import time
def for_loop (n):
    result = []
    for i in range(n):
        result.append(i ** 2)
    return result
def list_comprehension(n):
    return[i ** 2 for i in range(n)]
begin = time.time()
for_loop(10**6)
end = time .time()
print('tie taken for_loop:',round(end-begin, 2))
begin = time.time()
list_comprehension(10 ** 6)
end = time .time()
print('time taken for list_comprehension:',round(end-begin, 2))

tie taken for_loop: 0.61
time taken for list_comprehension: 0.45

In [ ]:
matrix = []
for i in range(3):
    matrix.append([])
    for j in range (5):
        matrix[i].append(j)
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [ ]:
matrix = [[j for j in range(5)] for i in range(3)] 
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [ ]:
number = []
for i in range(1, 6):
    number.append(i * 10)
print(number)

[10, 20, 30, 40, 50]

In [ ]:
num = [ i * 10 for i in range(1, 6)]
print(num)

[10, 20, 30, 40, 50]

In [ ]:
numbers = list(map(lambda i : i * 10, [i for i in range(1, 6)]))
print(numbers)

[10, 20, 30, 40, 50]

In [ ]:
list = ["even number" if i % 2 == 0
        else "odd number" for i in range(8)]
print(list)

['even number', 'odd number', 'even number', 'odd number', 'even number', 'odd number', 'even number', 'odd number']

In [ ]:
list = [num for num in range(160)
        if num % 5 == 0 if num% 10 == 0]
print (list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]

In [ ]:
sqaure = [ n ** 2 for n in range(1, 11)]
print(sqaure)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
List = [string[::-1] for string in ('ibrahim' , 'devil')]
print(List)

['miharbi', 'lived']

In [ ]:
def f():
    s = "I love money."
    print(s)
f()

I love money.

In [ ]:
s = "I love cars"
def f():
    print("Inside function:",s)
f()

Inside function: I love cars

In [ ]:
class Saylani:
    def __init__(self, branch, course):
        self.branch = branch
        self.course = course

    def details(self):
        print(f"Branch: {self.branch}, Course: {self.course}")

saylani_instance = Saylani("Karachi", "Python Programming")

saylani_instance.details()

In [ ]:
class Automobile:
    def __init__(self, model_years, name, brand, colour):
        self.model_years = model_years
        self.name = name
        self.brand = brand
        self.colour = colour

    def travel(self, passenger):
        print(f"{passenger} is travelling in {self.name}")

    def carry(self, weight, goods):
        print(f"{self.name} is carrying {goods} of weight {weight}")

car1 = Automobile(2015, "r8","Audi", "Black") 

car1.travel("Ibrahim")
car1.carry(500, "luggage")
print(car1.brand)
print(car1.name)
print(car1.model_years)

Ibrahim is travelling in r8
r8 is carrying luggage of weight 500
Audi
r8
2015

In [ ]:
class Teacher:
    def __init__(self, name, course, timing):
        self.name = name
        self.course = course
        self.timing = timing

    def details(self):
        print(f"Teacher {self.name} is teaching {self.course} at {self.timing}")

    def teaching(self, course):
        print(f"Right now, {self.name} is teaching {course}")

obj1 = Teacher("Ibrahim", "Python", "9 to 11")
obj2 = Teacher("Ibrahim", "Data Science", "2 to 5")

obj1.details()
obj2.details()
obj1.teaching("Python")
obj2.teaching("Data Science")

Teacher Ibrahim is teaching Python at 9 to 11
Teacher Ibrahim is teaching Data Science at 2 to 5
Right now, Ibrahim is teaching Python
Right now, Ibrahim is teaching Data Science

In [ ]:
class Teacher:
    total_teachers = 0
    subject_specialization = "General"

    def __init__(self, name, course, timing):
        self.name = name
        self.course = course
        self.timing = timing
        Teacher.total_teachers += 1  

    def details(self):
        print(f"Teacher {self.name} is teaching {self.course} at {self.timing}")

    def teaching(self, course):
        print(f"Right now, {self.name} is teaching {course}")

obj1 = Teacher("Ibrahim", "Python", "9 to 11")
obj2 = Teacher("Ibrahim", "Data Science", "2 to 5")

print(f"Total teachers: {Teacher.total_teachers}")
print(f"Subject specialization: {Teacher.subject_specialization}")

obj1.details()
obj2.details()
obj1.teaching("Python")
obj2.teaching("Data Science")

Total teachers: 2
Subject specialization: General
Teacher Ibrahim is teaching Python at 9 to 11
Teacher Ibrahim is teaching Data Science at 2 to 5
Right now, Ibrahim is teaching Python
Right now, Ibrahim is teaching Data Science

In [ ]:
try:
    num = int(input("Enter a number: "))
    result = 10 / num
except ZeroDivisionError:
    print("You can't divide by zero!")
except ValueError:
    print("That's not a valid number!")
else:
    print(f"The result is {result}")
finally:
    print("This will run no matter what.")

The result is 1.1111111111111112
This will run no matter what.

In [ ]:
def check_age(age):
    if age < 18:
        raise ValueError("you must be at least 18 years old.")
    return " you are allowed."
try:
    check_age(15)
except ValueError as e:
    print(e)

you must be at least 18 years old.

In [ ]:
class CustomError(Exception):
    pass

try:
    raise CustomError("This is a custom error")
except CustomError as e:
    print(e)

In [ ]:
x = 10
assert x > 5, "x is too small!"

In [ ]:
def divide_numbers(a, b):
    try:
        result = a / b
        return result
    except ZeroDivisionError:
        return "Cannot divide by zero"
    finally:
        print("Execution completed")
print(divide_numbers(10, 0))

In [ ]:
my_dict = {'name': 'ibra', 'age': 18}
print(my_dict['name']) 
print(my_dict['address'])

In [ ]:
try:
    with open('non_existent_file.txt', 'r') as file:
        data = file.read()
except FileNotFoundError as e:
    print("Caught FileNotFoundError:", e)

In [ ]:
try:
    result = '2' + 3  
except TypeError as e:
    print("Caught TypeError:", e)

In [ ]:
def get_number():
    while True:
        user_input = input("Please enter a number: ")
        try:
            number = float(user_input)  
            return number
        except ValueError:
            print("That's not a valid number. Please try again.")

def perform_calculation(number):
  
    result = number / 2
    return result

def main():
    number = get_number()
    result = perform_calculation(number)
    print(f"The result of dividing {number} by 2 is {result}.")

if __name__ == "__main__":
    main()

In [ ]:

with open('filename.txt', 'r') as file:
    for line in file:
        print(line.strip())

In [ ]:

with open('filename.txt', 'r') as file:
    lines = file.readlines()
for line in lines:
    print(line.strip())

In [ ]:

with open('filename.txt', 'r') as file:
    content = file.read()
    lines = content.splitlines()
for line in lines:
    print(line)